{% extends 'User_connect/base_connect.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <h1>Create new Item</h1>

    {{ include('User_connect/item/_form.html.twig') }}

    <a href="{{ path('item_index', {'user_id':user.id}) }}">back to list</a>
{% endblock %}
